@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@keyframes insertIconAnim {
  0% {
    color: rgb(9, 220, 9);
  }
  50% {
    color: rgb(2, 42, 2);
  }
  100% {
    color: black;
  }
}
@keyframes helloWorldText {
  0% {
    content: "";
  }
  8% {
    content: "";
  }
  16% {
    content: "H";
  }
  24% {
    content: "He";
  }
  32% {
    content: "Hel";
  }
  40% {
    content: "Hell";
  }
  48% {
    content: "Hello";
  }
  56% {
    content: "Hello ";
  }
  64% {
    content: "Hello W";
  }
  72% {
    content: "Hello Wo";
  }
  80% {
    content: "Hello Wor";
  }
  88% {
    content: "Hello Worl";
  }
  96% {
    content: "Hello World";
  }
  100% {
    content: "Hello World";
  }
}
html,
body {
  width: 100%;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  background: rgb(40, 39, 45);
  color: #ddd;
}

a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}

.navBar {
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}
.navBar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: rgb(164, 219, 227);
  color: rgb(40, 39, 45);
  overflow: hidden;
  border-bottom: 2px solid black;
}
.navBar li {
  float: left;
}
.navBar li a {
  display: block;
  text-align: center;
  color: rgb(40, 39, 45);
  padding: 14px 16px;
  text-decoration: none;
}
.navBar li a:hover:where(:not(.active)) {
  background: rgb(110, 171, 166);
}
.navBar div.dropdown {
  float: left;
  overflow: hidden;
}
.navBar div.dropdown .drop-button {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(40, 39, 45);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navBar div.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(164, 219, 227);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.navBar div.dropdown .dropdown-content a {
  float: none;
  color: rgb(40, 39, 45);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.navBar div.dropdown .dropdown-content a:hover {
  background-color: rgb(110, 171, 166);
}
.navBar div.dropdown .dropdown-content a:hover {
  background-color: rgb(110, 171, 166);
}
.navBar div.dropdown:hover .dropdown-content {
  display: block;
}

.active {
  background-color: rgb(110, 171, 166);
}

.content {
  margin: 1rem;
}

.main-page > h1 {
  font-style: italic;
}

.card-page #card {
  height: 60vh;
  width: auto;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.card-page .button-group {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.card-page .button-group button {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background: rgb(164, 219, 227);
  color: rgb(40, 39, 45);
  font-size: 1rem;
  cursor: pointer;
}
.card-page .button-group button:hover {
  background-color: rgb(110, 171, 166);
}

.collection-page .cardImg {
  float: left;
  margin: 1em;
  position: relative;
  padding: 0;
  display: block;
  cursor: pointer;
  overflow: hidden;
  height: 400px;
  width: 300px;
}
.collection-page .colcontent {
  margin: auto;
  padding: 50% 0;
  opacity: 0;
  position: absolute;
  top: 0;
  font-size: 40px;
  color: #1c87c9;
  background-color: rgba(200, 200, 200, 0.5);
  width: inherit;
  height: inherit;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  text-align: center;
}
.collection-page .colcontent:hover {
  opacity: 1;
}
.collection-page .colcontent:hover .card-text {
  height: inherit;
  width: inherit;
  opacity: 1;
  transform: translateY(250px);
  -webkit-transform: translateY(250px);
}
.collection-page .colcontent .card-text {
  height: 0;
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.4s;
}

.about-page {
  display: inline-block;
}
.about-page .codeDesc {
  position: absolute;
}
.about-page #codeContainer {
  font-size: 30px;
  position: relative;
  height: 100px;
  width: auto;
  color: rgb(9, 220, 9);
  border: 1px solid white;
  background-color: black;
}
.about-page #codeContainer span {
  margin-top: 50px;
  margin-left: 5px;
  display: inline-block;
}
.about-page #codeContainer #code:before {
  content: "";
  animation-name: helloWorldText;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.about-page #codeContainer #insertIcon {
  font-size: smaller;
  font-weight: 400;
  animation-name: insertIconAnim;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/*# sourceMappingURL=styles.css.map */
